body {
    background-color: aqua;
    font-family: Georgia;

}

h1 {
    font-family: comic sans ms;
    color:darkblue;
    font-size: 60px;
}

h4 {
    text-align: right;
    font-style: italic;
}

p {
    text-align: justify;
}